html,
body {
    margin: 0;
    padding: 0;
    scrollbar-face-color: #9e4343;
    scrollbar-track-color: #00FF00;
}

#pesquisar {
    display: flex;
    justify-content: center;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #9090904f;
}

.container {
    width: 1100px;
    margin-right: 10px;
    height: 100vh;
    margin-top: 160px;
    margin-left: 25px;
    display: flex;
}

article {
    flex: 2;
}

aside {
    flex: 1;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-2 {
    margin-left: 20px;
}

nav {
    display: flex;
    height: 58px;
    padding: 0;
    margin-left: 20px;
    justify-content: start;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #5f6368;
    display: flex;
}

.option1 {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.option2 {
    display: flex;
    flex: 2;
    margin-right: 20px;
}

.wrap {
    white-space: nowrap;
}

.link a {
    text-decoration: none;
    color: inherit;
}

.link a:hover {
    text-decoration: 1px underline;
}

.area-icone {
    display: flex;
}

.icone {
    padding: 10px;
    border-radius: 50%;
    white-space: nowrap;
}

.icone:hover {
    background-color: #9e9a9a33;
    cursor: pointer;
}

header i {
    margin-left: -3px;
}

.mr-1 {
    margin-right: -2px;
}

.menu .btn {
    width: 120px;
    padding: 10px 10px;
    background: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: 0;
}

.menu .btn:hover {
    background-color: #2b7de9;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
}

.logo {
    width: 150px;
}

img {
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.busca {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
    width: 582px;
    padding: 8px 10px;
    justify-content: space-between;
    position: relative;
    margin: 5px;
}

.busca:hover {
    box-shadow: 0px 1px 10px #dfe1e5;
}

.icon-left {
    margin-left: 10px;
    color: #a6a6a7;
    margin-top: 5px;
}

.icon-right {
    margin-right: 10px;
    display: flex;
    color: #a6a6a7;
}

.icon-right i {
    padding: 5px;
}

form {
    display: flex;
    flex: 2;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

input {
    width: 510px;
    border: none;
    outline: 0px;
}

button,
.btn {
    font-size: 14px;
    border: none;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    outline: 0;
}

.btn:hover {
    box-shadow: 0px 0px 2px #a4a4a5;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-link,
.card-link a {
    text-decoration: none;
    color: #5f6368;
}

.card-title,
.card-title a {
    font-size: 20px;
    color: #1a0dab;
    text-decoration: none;
    margin: 5px 0px;
}

.card-title a:hover {
    margin: 5px 0px;
    text-decoration: underline;
}

.card-text {
    color: #5f6368;
}

footer {
    background: #f2f2f2;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#footer .row {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.regiao {
    padding: 20px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.menu-footer {
    display: flex;
}

#footer a {
    text-decoration: none;
    color: inherit
}

#footer a:hover {
    text-decoration: underline;
}

.info {
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
    display: block;
    padding: 10px;
    white-space: nowrap;
}

@media (max-width:800px) {
    .area-icone {
        display: none;
    }
}

@media (max-width:660px) {
    #footer .row {
        justify-content: center;
    }
    .menu {
        flex-direction: column;
    }
    .option2 {
        display: none;
    }
    .option1 {
        justify-content: center;
    }
}

@media (max-width: 540px) {
    .menu .btn {
        width: 100px;
    }
    .busca {
        width: 300px;
    }
    .flex-1 {
        flex: 1;
    }
    .ml-1 {
        margin-left: 10px;
    }
    .ml-3 {
        margin-left: 10px;
    }
    .btn,
    .btn a {
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }
    aside {
        display: none;
    }
    .container {
        margin-top: 230px;
    }
}

@media (max-width: 330px) {
    .ml-3 {
        margin-left: 10px;
    }
    .menu {
        margin-right: 10px;
    }
    .busca {
        width: 250px;
    }
    .container {
        margin-top: 230px;
        margin-bottom: 400px;
    }
    #footer {
        font-size: 10px;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
    }
}

@media (max-width:290px) {
    .menu .btn {
        width: 80px;
        font-size: 12px;
    }
    .btn,
    .btn a {
        padding: 2px;
    }
    .info,
    .regiao {
        padding: 5px;
        font-size: 12px;
    }
    .container {
        margin-top: 230px;
        margin-bottom: 300px;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
    }
}